{% extends 'base.html.twig' %}
{%block titulo%}Registrar Ticket{%endblock%}
{% block menu_ticket %}class="active"{% endblock %}
{% block body %}
    <h1>Registrar Ticket</h1>

    <form>
        <div class="form-group">
            <label>Fecha a completar:</label>
            <input type="date" id="fechaCompletar">

            <label>Asignar A:</label>
            {% for usuario in usuarios %}
                <select id="usuario" >
                    <option value="">Choose A User</option>
                    <option value="{{ usuario.id }}">{{ usuario.nombre }}</option>
                </select>
            {% endfor %}
            <br>
            <label>Descipcion</label><br>
            <textarea id="descripcion" rows="4" cols="50" ></textarea>
            <input type="hidden" id="usuarioCreador" value="{{ usuarioActivo }}">
            <input type="hidden" id="fechaCreado" value="{{ fechaCreado }}">

        <div>
        <button type="button" class="btn btn-primary" onclick="registrar()"> Guardar</button>
    </form>

    <script>
        function registrar(){
            var fecha = $('#fechaCompletar').val();
            var usuarioAsignado = $('#usuario').val();
            var descripcion = $('#descripcion').val();
            var fechaCreada = $('#fechaCreado').val();
            var usuario = $('#usuarioCreador').val();


            var data = {
                    fecha_Completada: fecha,
                    usuarioAsignado: usuarioAsignado,
                    usuario:usuario,
                    descripcion: descripcion,
                    estado:'Pendiente',
                    fecha_Creada: fechaCreada
            };
            $.ajax({
                url: Routing.generate('guardar_ticket'),
                type:'POST',
                data:JSON.stringify(data),
                success: function(response){
                    if (response.response == "Added"){

                        window.location.href = Routing.generate('lista_ticket');
                    }
                },
                error: function(err){
                    console.log(err);
                }
            })

        }

    </script>
{% endblock %}